h4{
color: #aaaaaa;
padding-left: 20px;
}
.padding-left-40{
padding-left: 40px;
}
.emblema{
background-image: url('./../img/MARS-2-7.png');
width: 150px;
height: 50px;
}
.center{
text-align: center;
}
.poster{
width:350px;
}
.red{
width: 350px;
background-color: #ff0000;
}

.blue{
width: 350px;
background-color: #0000ff;
}
.gray{
text-align: center;
background-color: #aaaaaa;
}